<html lang="zxx"><head>
    {%  load static   %}
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Easy Grocery | About Us</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&amp;display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'web/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'web/css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'web/css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'web/css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'web/css/jquery-ui.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'web/css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'web/css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'web/css/style.css' %}" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder" style="display: none;">
        <div class="loader" style="display: none;"></div>
    </div>

    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a href="#"><img src="{% static 'web/img/logo.png' %}" alt=""></a>
        </div>
        <div class="humberger__menu__cart">
            <ul>
               <!---- <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>--->
                 <!----<li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>--->
            </ul>
            <!---<div class="header__cart__price">item: <span>$150.00</span></div >--->
        </div>
        <div class="humberger__menu__widget">
            <div class="header__top__right__language">
                <img src="{% static 'web/img/language.png' %}" alt="">
                <div>English</div>
                <span class="arrow_carrot-down"></span>
                <ul>
                    <li><a href="#">Spanis</a></li>
                    <li><a href="#">English</a></li>
                </ul>
            </div>
            <div class="header__top__right__auth">
                <a href="#"><i class="fa fa-user"></i> Login</a>
            </div>
        </div>
        <nav class="humberger__menu__nav mobile-menu">
            <ul>
                <li class="active"><a href="./index.html">Home</a></li>
                <li><a href="./shop-grid.html">Shop</a></li>
                <li><a href="#">Categories</a>
                    <ul class="header__menu__dropdown">
                        <li><a href="./shop-details.html">Shop Details</a></li>
                        <li><a href="./shoping-cart.html">Shoping Cart</a></li>
                        <li><a href="./checkout.html">Check Out</a></li>
                        <li><a href="./blog-details.html">Blog Details</a></li>
                    </ul>
                </li>
                <li><a href="./blog.html">Blog</a></li>
                <li><a href="./contact.html">Products</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"><div class="slicknav_menu"><a href="#" aria-haspopup="true" role="button" tabindex="0" class="slicknav_btn slicknav_collapsed" style="outline: none;"><span class="slicknav_menutxt">MENU</span><span class="slicknav_icon"><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span></span></a><nav class="slicknav_nav slicknav_hidden" aria-hidden="true" role="menu" style="display: none;">
            <ul>
                <li class="active"><a href="./index.html" role="menuitem">Home</a></li>
                <li><a href="./shop-grid.html" role="menuitem">Shop</a></li>
                <li class="slicknav_collapsed slicknav_parent"><a href="#" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row" style="outline: none;"><a href="#">Pages</a>
                    <span class="slicknav_arrow">►</span></a><ul class="header__menu__dropdown slicknav_hidden" role="menu" aria-hidden="true" style="display: none;">
                        <li><a href="./shop-details.html" role="menuitem" tabindex="-1">Shop Details</a></li>
                        <li><a href="./shoping-cart.html" role="menuitem" tabindex="-1">Shoping Cart</a></li>
                        <li><a href="./checkout.html" role="menuitem" tabindex="-1">Check Out</a></li>
                        <li><a href="./blog-details.html" role="menuitem" tabindex="-1">log Details</a></li>
                    </ul>
                </li>
                <li><a href="./blog.html" role="menuitem">ABOUT</a></li>
                <li><a href="./contact.html" role="menuitem">PRODUCTS</a></li>
                <li><a href="./contact.html" role="menuitem">SERVICES</a></li>
            </ul>
        </nav></div></div>
        <div class="header__top__right__social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-pinterest-p"></i></a>
        </div>
        <div class="humberger__menu__contact">
            <ul>
                <li><i class="fa fa-envelope"></i> <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="c2aaa7aeaead82a1adaeadb0aeaba0eca1adaf">[email&#160;protected]</a></li>
                <li>Free Shipping for all Order above Rs1000</li>
            </ul>
        </div>
    </div>
    <!-- Humberger End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__left">
                            <ul>
                                <li><i class="fa fa-envelope"></i> <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="78101d141417381b1714170a14111a561b1715">[email&#160;protected]</a></li>
                                <li>Free Shipping for all Order above Rs 350
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right">


                            {% if request.session.username  %}
                            <div class="header__top__right__auth">
                                <a href="{%  url  'user_logout'    %}"><i class="fa fa-user"></i> Welcome {{request.session.username}} / Logout</a>
                            </div>
                            {%  else %}
                             <div class="header__top__right__auth">
                                <a href="{%  url   'Sign_in'    %}"><i class="fa fa-user"></i> Login</a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="./index.html"><img src="{% static 'web/img/logo.png' %}" alt=""></a>
                    </div>
                </div>
                <div class="col-md-9">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a href="{%  url 'home'   %}">Home</a></li>
                            <li><a href="./shop-grid.html">Shop</a></li>
                            <li><a href="#">Categories</a>
                                <ul class="header__menu__dropdown">
                                    {% for i in categories  %}
                                    <li><a href="{%  url    'filtered_products'  cat_name=i.CategoryName       %}">{{i.CategoryName}}</a></li>
                                    {%  endfor  %}
                                </ul>
                            </li>
                            <li><a href="{%  url  'about'     %}">About</a></li>
                            <li><a href="{%  url 'our_products'    %}">Products</a></li>
                            <li><a href="{%  url 'contact'   %}">Contact</a></li>
                            <li><a href="{% url 'services'  %}">Services</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__cart">
                        <ul>
                           <!---- <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>--->
                            {% if request.session.username %}
                            <li><a href="{% url 'cart'   %}"><i class="fa fa-shopping-bag"></i> <span>{{cart_count}}</span></a></li>
                            {%  endif %}
                        </ul>
                        <!---<div class="header__cart__price">item: <span>$150.00</span></div>--->
                    </div>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>All Categories</span>
                        </div>
                        <ul>
                            {% for i in categories %}
                            <li><a href="{%  url 'filtered_products' cat_name=i.CategoryName    %}">{{i.CategoryName}}</a></li>
                            {%  endfor  %}
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form action="#">
                                <div class="hero__search__categories">
                                    All Categories
                                    <span class="arrow_carrot-down"></span>
                                </div>
                                <input type="text" placeholder="What do yo u need?">
                                <button type="submit" class="site-btn">SEARCH</button>
                            </form>
                        </div>
                        <div class="hero__search__phone">
                            <div class="hero__search__phone__icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="hero__search__phone__text">
                                <h5>+65 11.188.888</h5>
                                <span>support 24/7 time</span>
                            </div>
                        </div>
                    </div>
                    <div class="hero__item set-bg" data-setbg="{% static 'web/img/hero/banner.jpg'%}" style="background-image: url(&quot;img/hero/banner.jpg&quot;);">
                        <div class="hero__text">
                            <span>FRUIT FRESH</span>
                            <h2>Vegetable <br>100% Organic</h2>
                            <p>Free Pickup and Delivery Available</p>
                            <a href="#" class="primary-btn">SHOP NOW</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- About Hero Begin -->
    <section class="blog-details-hero set-bg" data-setbg="{% static 'web/img/blog/details/details-hero.jpg' %}" style="background-image: url('{% static 'web/img/blog/details/details-hero.jpg' %}');">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="blog__details__hero__text">
                        <h2>ABOUT US</h2>
                        <ul>
                            <li>Easy Grocery</li>
                            <li>Fresh &amp; Organic</li>
                            <li>Trusted Since 2020</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Hero End -->

    <!-- Blog Details Section Begin -->
    <section class="blog-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-5 order-md-1 order-2">
                    <div class="blog__sidebar">
                        <div class="blog__sidebar__item">
                            <h4>Quick Links</h4>
                            <ul>
                                <li><a href="{% url 'home' %}">Home</a></li>
                                <li><a href="{% url 'our_products' %}">Shop</a></li>
                                <li><a href="{% url 'services' %}">Our Services</a></li>
                                <li><a href="{% url 'contact' %}">Contact Us</a></li>
                            </ul>
                        </div>
                        <div class="blog__sidebar__item">
                            <h4>Our Product Categories</h4>
                            <ul>
                                {% for i in categories %}
                                <li><a href="{% url 'filtered_products' cat_name=i.CategoryName %}">{{ i.CategoryName }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="blog__sidebar__item">
                            <h4>Why Choose Us</h4>
                            <div class="blog__sidebar__item__tags">
                                <a href="#">Fresh Daily</a>
                                <a href="#">100% Organic</a>
                                <a href="#">Fast Delivery</a>
                                <a href="#">Best Prices</a>
                                <a href="#">Trusted Quality</a>
                                <a href="#">24/7 Support</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-7 order-md-1 order-1">
                    <div class="blog__details__text">
                        <img src="{% static 'web/img/blog/details/details-pic.jpg' %}" alt="Easy Grocery Store">
                        <h3>Welcome to Easy Grocery — Your Trusted Online Grocery Store</h3>
                        <p>At Easy Grocery, we believe that everyone deserves access to fresh, high-quality groceries at affordable prices. Founded with a simple mission — to make grocery shopping easy, fast, and enjoyable — we bring the best of the market straight to your doorstep.</p>
                        <p>We carefully source our products from trusted local farmers and certified organic suppliers to ensure that every item you receive is fresh, nutritious, and full of flavour. From crisp seasonal vegetables to ripe tropical fruits, wholesome dairy, and everyday pantry essentials, Easy Grocery has everything your family needs.</p>
                        <h3>Our Mission</h3>
                        <p>Our mission is simple — to make healthy, fresh, and affordable groceries accessible to every household. We are committed to reducing food waste, supporting local farmers, and delivering a seamless shopping experience that saves you time and money.</p>
                        <h3>Why Shop With Us?</h3>
                        <p>We offer same-day and next-day delivery across the city, a wide range of 100% organic products, easy returns, and a secure checkout experience. Our dedicated customer support team is available 24/7 to assist you with any questions or concerns. Whether you're stocking up for the week or looking for a last-minute ingredient, Easy Grocery has got you covered.</p>
                    </div>
                    <div class="blog__details__content">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="blog__details__author">
                                    <div class="blog__details__author__pic">
                                        <img src="{% static 'web/img/blog/details/details-author.jpg' %}" alt="">
                                    </div>
                                    <div class="blog__details__author__text">
                                        <h6>Easy Grocery Team</h6>
                                        <span>Fresh &amp; Trusted Since 2020</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="blog__details__widget">
                                    <ul>
                                        <li><span>Location:</span> Delivering across the city</li>
                                        <li><span>Speciality:</span> Fresh, Organic, Affordable Groceries</li>
                                    </ul>
                                    <div class="blog__details__social">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-instagram"></i></a>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                        <a href="#"><i class="fa fa-envelope"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Details Section End -->

    <!-- Our Values Section Begin -->
    <section class="related-blog spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title related-blog-title">
                        <h2>Our Core Values</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic">
                            <img src="{% static 'web/img/blog/blog-1.jpg' %}" alt="Fresh Products">
                        </div>
                        <div class="blog__item__text">
                            <ul>
                                <li><i class="fa fa-leaf"></i> 100% Organic</li>
                                <li><i class="fa fa-check-circle"></i> Certified</li>
                            </ul>
                            <h5><a href="#">Freshness Guaranteed Every Day</a></h5>
                            <p>We source our products daily from local farms to ensure maximum freshness and nutrition in every order you place.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic">
                            <img src="{% static 'web/img/blog/blog-2.jpg' %}" alt="Fast Delivery">
                        </div>
                        <div class="blog__item__text">
                            <ul>
                                <li><i class="fa fa-truck"></i> Fast Delivery</li>
                                <li><i class="fa fa-clock-o"></i> Same Day</li>
                            </ul>
                            <h5><a href="#">Speedy Delivery Right to Your Door</a></h5>
                            <p>With our reliable delivery network, your groceries arrive fresh and on time — whether same-day or next-day delivery.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic">
                            <img src="{% static 'web/img/blog/blog-3.jpg' %}" alt="Affordable Prices">
                        </div>
                        <div class="blog__item__text">
                            <ul>
                                <li><i class="fa fa-tag"></i> Best Prices</li>
                                <li><i class="fa fa-smile-o"></i> Happy Customers</li>
                            </ul>
                            <h5><a href="#">Affordable Prices, No Compromise</a></h5>
                            <p>We believe healthy eating shouldn't break the bank. Easy Grocery offers the best prices on fresh and organic products every day.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Our Values Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="./index.html"><img src="{% static 'web/img/logo.png' %}" alt=""></a>
                        </div>
                        <ul>
                            <li>Address: 60-49 Road 11378 New York</li>
                            <li>Phone: +65 11.188.888</li>
                            <li>Email: <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="d0b8b5bcbcbf90b3bfbcbfa2bcb9b2feb3bfbd">[email&#160;protected]</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6>Useful Links</h6>
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">About Our Shop</a></li>
                            <li><a href="#">Secure Shopping</a></li>
                            <li><a href="#">Delivery infomation</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Our Sitemap</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">Who We Are</a></li>
                            <li><a href="#">Our Services</a></li>
                            <li><a href="#">Projects</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Innovation</a></li>
                            <li><a href="#">Testimonials</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                        <h6>Join Our Newsletter Now</h6>
                        <p>Get E-mail updates about our latest shop and special offers.</p>
                        <form action="#">
                            <input type="text" placeholder="Enter your mail">
                            <button type="submit" class="site-btn">Subscribe</button>
                        </form>
                        <div class="footer__widget__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright">
                        <div class="footer__copyright__text"><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright ©<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>document.write(new Date().getFullYear());</script>2026 All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p></div>
                        <div class="footer__copyright__payment"><img src="{% static 'web/img/payment-item.png' %}" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="{% static 'web/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'web/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'web/js/jquery.nice-select.min.js'%}"></script>
    <script src="{% static 'web/js/jquery-ui.min.js'%}"></script>
    <script src="{% static 'web/js/jquery.slicknav.js'%}"></script>
    <script src="{% static 'web/js/mixitup.min.js'%}"></script>
    <script src="{% static 'web/js/owl.carousel.min.js'%}"></script>
    <script src="{% static 'web/js/main.js'%}"></script>