<!DOCTYPE html>
{% extends 'dashboard.html'  %}
{%  block content  %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="card-body">
                    <h4 class="card-title">Add Products</h4>
                    <p class="card-description">  </p>
                    <form method="POST" action="{%  url  'save_product'      %}" enctype="multipart/form-data" class="forms-sample">
                        {%  csrf_token   %}
                      <div class="form-group">
                        <label for="exampleSelectGender">Category</label>
                        <select class="form-control" id="exampleSelectGender" name="Category_name" required value="{{data.Category_name}}">
                           <option>Select category</option>
                        {%  for i in category           %}
                          <option>value="{{ i.CategoryName }}"
            {% if i.CategoryName == data.Category_name %}
                selected
            {% endif %}{{i.CategoryName}}</option>
                        {%  endfor   %}

                        </select>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputName1">Product Name</label>
                        <input type="text" class="form-control" id="exampleInputName1" placeholder="Product Name" name="Product_name" required value="{{data.Product_name}}">
                      </div>


                      <div class="form-group">
                        <label for="exampleInputPassword4">Price</label>
                        <input type="text" class="form-control" id="exampleInputPassword4" placeholder="Price" name="Price" required value="{{data.Price}}">
                      </div>
                     <div class="form-group">
                        <label for="exampleTextarea1">Description</label>
                        <textarea class="form-control" id="exampleTextarea1" rows="4" name="Description" required value="{{data.Description}}"></textarea>
                      </div>
                      <div class="form-group">
                        <label>Image upload</label>
                        <input type="file" name="img[]" class="file-upload-default">
                        <div class="input-group col-xs-12">
                          <input type="file" class="form-control file-upload-info" placeholder="Upload Image" name="ProductImage" required value="{{data.ProductImage}}">
                          <span class="input-group-append">
                            <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                          </span>
                        </div>
                      </div>


                      <button type="submit" class="btn btn-primary mr-2">Submit</button>
                      <button class="btn btn-dark">Cancel</button>
                    </form>
                  </div>

</body>
</html>
{%  endblock   %}