<!DOCTYPE html>
{%  extends 'dashboard.html'   %}

{%   block content   %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="card-body">
                    <h4 class="card-title">Add categories</h4>
                    <p class="card-description">  </p>
                    <form method="POST" action="{%  url 'save_category'      %}" enctype="multipart/form-data" class="forms-sample">
                        {% csrf_token  %}
                      <div class="form-group">
                        <label for="exampleInputName1">Category Name</label>
                        <input type="text" class="form-control" id="exampleInputName1" placeholder="Category Name" name="CategoryName" required value="{{data.CategoryName}}">
                      </div>

                      <div class="form-group">
                        <label for="exampleTextarea1">Description</label>
                        <textarea class="form-control" id="exampleTextarea1" rows="4" name="Description" required value="{{data.Description}}"></textarea>
                      </div>

                      <div class="form-group">
                        <label>CategoryImage</label>
                        <input type="file" name="img[]" class="file-upload-default">
                        <div class="input-group col-xs-12">
                          <input type="file" class="form-control file-upload-info"  placeholder="Upload Image" name="CategoryImage" required value="{{data.CategoryImage}}">
                          <span class="input-group-append">

                          </span>
                        </div>
                      </div>


                      <button type="submit" class="btn btn-primary mr-2">Submit</button>
                      <button class="btn btn-dark">Cancel</button>
                    </form>
                  </div>


</body>
</html>

{%  endblock   %}
